<%- include('../partials/header')%>

<main id="admin-login">
    <form action="/admin/login" method="post">
        <h1>Login</h1>

        <%if(error){%>
            <p class="error"><%= message %></p>
        <% } %>
        <input type="email" value="<%= admin.email%>" name="email" placeholder="Email Address">
        <input type="password" value="<%= admin.password %>" name="password" placeholder="password">
        <input type="submit" value="Log In">
    </form>
</main>

<%- include('../partials/footer')%>